<?xml version="1.0"?>
<MyConfigDedicated xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SessionSettings>
    <GameMode>Survival</GameMode>
    <InventorySizeMultiplier>3</InventorySizeMultiplier>
    <BlocksInventorySizeMultiplier>1</BlocksInventorySizeMultiplier>
    <AssemblerSpeedMultiplier>3</AssemblerSpeedMultiplier>
    <AssemblerEfficiencyMultiplier>3</AssemblerEfficiencyMultiplier>
    <RefinerySpeedMultiplier>3</RefinerySpeedMultiplier>
    <OnlineMode>PUBLIC</OnlineMode>
    <MaxPlayers>16</MaxPlayers>
    <MaxFloatingObjects>100</MaxFloatingObjects>
    <MaxBackupSaves>5</MaxBackupSaves>
    <MaxGridSize>0</MaxGridSize>
    <MaxBlocksPerPlayer>0</MaxBlocksPerPlayer>
    <TotalPCU>320000</TotalPCU>
    <PiratePCU>50000</PiratePCU>
    <MaxFactionsCount>0</MaxFactionsCount>
    <BlockLimitsEnabled>PER_PLAYER</BlockLimitsEnabled>
    <EnableRemoteBlockRemoval>true</EnableRemoteBlockRemoval>
    <EnvironmentHostility>SAFE</EnvironmentHostility>
    <AutoHealing>true</AutoHealing>
    <EnableCopyPaste>false</EnableCopyPaste>
    <WeaponsEnabled>true</WeaponsEnabled>
    <ShowPlayerNamesOnHud>true</ShowPlayerNamesOnHud>
    <ThrusterDamage>true</ThrusterDamage>
    <CargoShipsEnabled>true</CargoShipsEnabled>
    <EnableSpectator>false</EnableSpectator>
    <WorldSizeKm>0</WorldSizeKm>
    <RespawnShipDelete>true</RespawnShipDelete>
    <ResetOwnership>false</ResetOwnership>
    <WelderSpeedMultiplier>2</WelderSpeedMultiplier>
    <GrinderSpeedMultiplier>2</GrinderSpeedMultiplier>
    <RealisticSound>false</RealisticSound>
    <HackSpeedMultiplier>0.33</HackSpeedMultiplier>
    <PermanentDeath>false</PermanentDeath>
    <AutoSaveInMinutes>5</AutoSaveInMinutes>
    <EnableSaving>true</EnableSaving>
    <InfiniteAmmo>false</InfiniteAmmo>
    <EnableContainerDrops>false</EnableContainerDrops>
    <SpawnShipTimeMultiplier>0</SpawnShipTimeMultiplier>
    <ProceduralDensity>0.35</ProceduralDensity>
    <ProceduralSeed>0</ProceduralSeed>
    <DestructibleBlocks>true</DestructibleBlocks>
    <EnableIngameScripts>true</EnableIngameScripts>
    <ViewDistance>15000</ViewDistance>
    <EnableToolShake>true</EnableToolShake>
    <VoxelGeneratorVersion>4</VoxelGeneratorVersion>
    <EnableOxygen>true</EnableOxygen>
    <EnableOxygenPressurization>true</EnableOxygenPressurization>
    <Enable3rdPersonView>true</Enable3rdPersonView>
    <EnableEncounters>true</EnableEncounters>
    <EnableConvertToStation>true</EnableConvertToStation>
    <StationVoxelSupport>false</StationVoxelSupport>
    <EnableSunRotation>true</EnableSunRotation>
    <EnableRespawnShips>true</EnableRespawnShips>
    <ScenarioEditMode>false</ScenarioEditMode>
    <Scenario>false</Scenario>
    <CanJoinRunning>false</CanJoinRunning>
    <PhysicsIterations>8</PhysicsIterations>
    <SunRotationIntervalMinutes>119.999992</SunRotationIntervalMinutes>
    <EnableJetpack>true</EnableJetpack>
    <SpawnWithTools>true</SpawnWithTools>
    <StartInRespawnScreen>false</StartInRespawnScreen>
    <EnableVoxelDestruction>true</EnableVoxelDestruction>
    <MaxDrones>5</MaxDrones>
    <EnableDrones>true</EnableDrones>
    <EnableWolfs>false</EnableWolfs>
    <EnableSpiders>false</EnableSpiders>
    <FloraDensityMultiplier>1</FloraDensityMultiplier>
    <EnableStructuralSimulation>false</EnableStructuralSimulation>
    <MaxActiveFracturePieces>50</MaxActiveFracturePieces>
    <BlockTypeLimits>
      <dictionary>
      </dictionary>
    </BlockTypeLimits>
    <EnableScripterRole>true</EnableScripterRole>
    <MinDropContainerRespawnTime>5</MinDropContainerRespawnTime>
    <MaxDropContainerRespawnTime>8</MaxDropContainerRespawnTime>
    <EnableTurretsFriendlyFire>false</EnableTurretsFriendlyFire>
    <EnableSubgridDamage>false</EnableSubgridDamage>
    <SyncDistance>3000</SyncDistance>
    <ExperimentalMode>true</ExperimentalMode>
    <AdaptiveSimulationQuality>true</AdaptiveSimulationQuality>
    <EnableVoxelHand>true</EnableVoxelHand>
    <TrashRemovalEnabled>true</TrashRemovalEnabled>
    <StopGridsPeriodMin>15</StopGridsPeriodMin>
    <TrashFlagsValue>7706</TrashFlagsValue>
    <AFKTimeountMin>0</AFKTimeountMin>
    <BlockCountThreshold>20</BlockCountThreshold>
    <PlayerDistanceThreshold>500</PlayerDistanceThreshold>
    <EnableResearch>true</EnableResearch>
    <EnableAutorespawn>true</EnableAutorespawn>
    <EnableBountyContracts>true</EnableBountyContracts>
    <EnableEconomy>true</EnableEconomy>
    <WeatherSystem>true</WeatherSystem>
    <HarvestRatioMultiplier>0.8</HarvestRatioMultiplier>
  </SessionSettings>
  <LoadWorld>Z:\appdata\space-engineers\World</LoadWorld>
  <IP>0.0.0.0</IP>
  <SteamPort>8766</SteamPort>
  <ServerPort>27016</ServerPort>
  <AsteroidAmount>0</AsteroidAmount>
  <Administrators>
    <!-- Add your Steam64 ID here, e.g.: <unsignedLong>76561198000000000</unsignedLong> -->
  </Administrators>
  <Banned />
  <GroupID>0</GroupID>
  <ServerName>My Space Engineers Server</ServerName>
  <WorldName>Star System</WorldName>
  <PauseGameWhenEmpty>false</PauseGameWhenEmpty>
  <MessageOfTheDay />
  <MessageOfTheDayUrl />
  <AutoRestartEnabled>true</AutoRestartEnabled>
  <AutoRestatTimeInMin>720</AutoRestatTimeInMin>
  <AutoRestartSave>true</AutoRestartSave>
  <AutoUpdateEnabled>false</AutoUpdateEnabled>
  <IgnoreLastSession>true</IgnoreLastSession>
  <ServerDescription />
  <ServerPasswordHash />
  <ServerPasswordSalt>AAAAAAAAAAAAAAAAAAAAAA==</ServerPasswordSalt>
  <Reserved />
  <RemoteApiEnabled>false</RemoteApiEnabled>
  <RemoteApiPort>8080</RemoteApiPort>
  <Plugins />
  <WatcherInterval>30</WatcherInterval>
  <WatcherSimulationSpeedMinimum>0.05</WatcherSimulationSpeedMinimum>
  <AutodetectDependencies>true</AutodetectDependencies>
  <SaveChatToLog>false</SaveChatToLog>
</MyConfigDedicated>
